body, html { margin:0; padding:0; font-family:Verdana; font-size:12px }
a img { border:0 }
var { font-family:Georgia; font-style:normal }
code { background:#FFF0DB; padding:2px 5px; font-size:14px; font-weight:bold }

#layout { width:100%; height:100%; }
#layout td { padding-right:10px; height:100%; }
#layout-left { width:30%;  }
#layout-right { width:70% }

#control { width:100%; height:100%; }
#workbench { width:100%; height:100%; }

#header { height:50px; position:relative } 
#header ul { list-style:none; margin:0; padding:0; position:absolute; top:15px; left:15px }
#header li { display:inline }
#header a { padding:5px 10px; color:#ff7200 }

#editor-container, #stage, #workarea { border:1px solid #aaa; margin:-5px -15px -7px -15px; overflow:hidden }
#editor { width:100%; height:100%; font-family:'Courier New', monospace; color:#ddd; background:#222; border:0; font-size:12px; line-height:17px }
.CodeMirror-line-numbers { font-family:'Courier New', monospace; font-size:12px; padding:0 10px; padding-top:4px; background:#444; color:#aaa;
	border-right:1px solid #666;
}
.CodeMirror-line-numbers div { margin:1px 0 0 0; }
#code iframe { background:#222 }

.toolbar { background:#fff url('../assets/images/toolbar.png') repeat-x bottom; padding:5px; margin:-12px -20px; border-bottom:1px solid #ccc }
.toolbar a { padding:5px 10px; text-decoration:none }
.toolbar a:hover { background:#ddd }
.menu { background:#fff url('../assets/images/toolbar.png') repeat-x bottom; border-bottom:1px solid #aaa }

#dialog { display:none }
#console { margin:0 -2px -3px -2px;  border-top:1px solid #aaa; height:150px; font-size:10px }
#console-text { display:block; overflow:auto; height:130px }
#console .menu { padding:3px }
#console small { display:block; padding:5px; border-bottom:1px solid #aaa; font-size:12px }
#console small:nth-child(odd) { background:#ddd }

ul.list { list-style:none; padding:0; margin:13px -20px 0 -20px }
ul.list a { padding:5px; display:block; text-decoration:none }
ul.list img { vertical-align:bottom }
ul.list li:nth-child(odd) { background:#eee }

#frame { width:100%; height:100%; border:0; margin:0; padding:0 }