/* Generic pane rules */
body { margin: 0 }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.left.col { width: 250px; }
.right.col { left: 250px; right: 0; }
.crafty_menu.row { height: 17px; bottom:0px; }
.crafty_game.row { top: 0px; bottom: 25px; }

.crafty_menu
{
	background-color:black;
	font-size: 12px;
	color:#c55500;
	padding: 3px 15px 0 15px;
}
.crafty_menu li
{
	display: inline-block;
	padding-right: 10px;
	float:left;
}
.crafty_filter_count
{
	position: absolute;
	top: 6px;
	right: 6px;
}
.crafty_entity_pane
{
	font-size: 12px;
	background: red;
	overflow-y:scroll;
}

.crafty_prop_value
{
	width: 70px;
	height: 12px;
	float: right;
}

.crafty_prop_name
{
	display: block;
	float: left;
	clear: left;
	margin: 2px 0 0 5px;
}

.crafty_component_block
{
	margin-bottom: 5px;
	background-color: #3b3b3b;
}

.crafty_prop
{
	display: block;
	height: 20px;
	color: white;
}

.crafty_component
{
	height: 18px;
	display: block;
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 2px 0 0 5px;
}

.crafty_entity_filter
{
	margin: 3px 0px 3px 0px;
	width: 100%;
}

.crafty_statsPane
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	display:none;
}

.xstats
{
	float: left;
}
