.crafty_rightpane
{
	font-size: 12px;
	bottom: 0px;
	width: 200px;
	right: 0px;
	top: 0px;
	position: fixed;
	background: red;
	z-index: 10000000;
	display: none;
	overflow-y:auto;
	overflow-x:hidden;
}

.crafty_prop_value
{
	width: 70px;
	height: 12px;
	float: right;
}

.crafty_prop_name
{
	display: block;
	float: left;
	clear: left;
	margin: 2px 0 0 5px;
}

.crafty_component_block
{
	margin-bottom: 5px;
	background-color: #3b3b3b;
}

.crafty_prop
{
	display: block;
	height: 20px;
	color: white;
}

.crafty_component
{
	height: 18px;
	display: block;
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 2px 0 0 5px;
}

.crafty_entity_filter
{
	margin: 3px 0px 3px 0px;
	width: 100%;
}

.crafty_statsPane
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	display:none;
}

.xstats
{
	float: left;
}
